#site-footer {
	font-size: rem-calc(14);
	padding: 1rem 0;
	a {
		color: #000;
		transition: .3s ease-in-out;
		&:hover {
			color: #26679F;
			svg {
			
				path {
					transition: .3s ease-in-out;
					stroke: #26679F;
					opacity: 1;
				}
			}
		}
	}
}

.rodo {
    margin-top: 2rem;
    a, p {
        font-size: 9px;
        color: #8D8D8D;
        margin-bottom: 0;
    }
}
footer{
	
    margin-top: 1rem;
    @include breakpoint(medium) {
        padding-top: 4rem;
    }
    @include breakpoint(large) {
        padding-top: 8rem;
    }

    h2{
        font-size: 35px;
        line-height: 85px;
        padding-bottom: 4rem;
    }
    p{
        font-size: 16px;
        line-height: 24px;
        img{
            padding-right: 15px;
        }
    }
    .social-media{
        svg{
            margin-right: 22px;
        
        }
    }
}