@import '../general/typography';
@import '../modules/foundation-settings';

.galeria-product {
    .image-1, .image-2, .image-3 , .photo-galeria-two, .image-last {
        transition: .3s ease-in-out;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
    .image-1 {
        height: 300px;
        @include breakpoint(large) {
            height: 506px;

        }
        margin-bottom: 20px;
        @include breakpoint(medium) {
            margin-right: 20px;

        }
    }
    .image-2 {
        margin-bottom: 20px;
    }
    .image-2, .image-3 {
        height: 322px;
        @include breakpoint(medium) {
        margin-right: 20px;
        }
    }
    .image-3 {
        margin-bottom: 20px;
        @include breakpoint(medium) {
            margin-bottom: 0;
        }
    }
    .photo-galeria-two {
        height: 389px;
        padding-bottom: 20px;
        &:first-child {
       
            padding-right: 10px;
         
        }
        &:last-child {
       
            padding-left: 10px;
     
        }
        .inside {
            height: 100%;
        }
    }
    .image-last {
        @include breakpoint(medium) {
            display: flex;
             flex:1

        }

    }


}

.title-box-galeria {
    padding: 6rem 8rem 0;
    text-align: center;

    h2 {
        font-weight: 200;
        font-size: 30px;
        margin-bottom: 1rem;
        @include breakpoint(large) {
            font-size: 35px;
 

        } 
        @include breakpoint(medium) {
            margin-bottom: 2rem;
        }

    }

    p {
        line-height: 21px;
        font-size: 14px;
        opacity: 52%;
        margin-bottom: 2rem;
        @include breakpoint(medium) {
            margin-bottom: 3rem;
        }
        @include breakpoint(large) {
            margin-bottom: 4rem;
        }
        // color: rgb(0, 0, 0, .5);
    }

}

.photo-galeria-one {
    max-height: 506px;
}

.photo-galeria-two img {
    height: 100%;
}

.photo-galeria-three img {
    max-height: 810px;
}

@media (max-width:880px){
.title-box-galeria{
      
    padding-left: 0;
    padding-right: 0;

}
}