@import '../general/typography';
@import '../modules/foundation-settings';

body{
    font-family: 'Montserrat', sans-serif;
  
}

.main-menu a{
    color: #707070;
    font-size: 14px;
    line-height: 19px;
}
.active-link a::before{
    content: '';
    position: absolute;
    top:-28px;
    width: 100%;
    height: 3px;
    background-color: #26679F;
}

.main-box-img {
    height: 500px;
     @media(min-width: 1024px) {
        height: 640px;

    }
    background-repeat: no-repeat;
}

.main-box-title{
    
    width: 488px;
    height: auto;
    background-color: #fff;
    position: absolute;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 400px;
    margin-left: -1px;
    @media(min-width: 1024px) {
        width: 488px;
        padding-top: 8rem;
        padding-bottom: 8rem;

    }
    h2{
        font-size: 30px;
        margin-bottom: 1rem;
        @media(min-width: 1024px) {
            font-size: 35px;

        }
       padding-right: 3rem;
       @media(min-width: 1024px) {
           padding-right: 12rem;

       }
    }
    img{
        padding-left: 10px;
       
    }
}
.main-box-bottom{
    position: absolute;
    bottom:-20px;
   
    a{
        color: #fff;
        font-size: 13px;
        line-height: 16px;
        background-color: #26679F;
        padding: 1.75rem 2rem;
    }
}

.title-box{
    padding: 0 10rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    p{
        line-height: 21px;
        font-size: 14px;
        opacity: 52%;
    }
    h2{
        font-weight: 200;
        font-size: 35px;
    }
}
.flex-box{
    display: flex;
    justify-content: space-between;
    margin:0;
    padding: 0;
  
    h4{
        font-size: 17px;
        line-height: 19px;
        font-weight: 600;
        padding-bottom: 1rem;
    }
    p{
        font-size: 14px;
        line-height: 21px;
        padding: 1rem;
        text-align: left;
    }
    a{
        padding: 1rem;
        font-size: 10px;
        line-height: 17px;
        font-weight: bold;
    }
    .one-photo{
        @include breakpoint(medium) {
            padding-top: 5rem;
            padding-right: 10px;
        }
        @include breakpoint(large) {
            padding-right: 60px;
        }
  
    }
    .two-photo{
        @include breakpoint(large) {
            padding: 0 30px;
        }
   
    }


    .three-photo{
    
        @include breakpoint(medium) {
            padding-top: 10rem;
            padding-left: 10px;
        }
        @include breakpoint(large) {
            padding-left: 60px ;
        }
    }

  .line-before{
      width: 100%;
      transition: .3s ease-in-out;
      &:hover {
        opacity: 0.7;
    }
      
    a{
        padding: 1rem;
        font-size: 10px;
        line-height: 17px;
        font-weight: bold;
        text-align:center;
     
    }
    img{
        height: 3px;
        width: 64px;
        position: relative;
        top:1px;
        left: 12px;
        }
    // a::before{
    //     content: '';
    //     position: absolute;
    //     left: 0;
    //     height: 2px;
    //     width: 60px;
    //     background-color: #26679F;
    // }
       
      
    }

    img{
        width: 100%;
    }
}
#produkty {

        @media(max-width: 1023px) {
            display: none;
        }
       
}

.title-opacity{
    margin-top: -100px;
    position: relative;
    bottom: -100px;
    // .title-opacity-first {
    //  @media(max-width: 806px) {
    //      display: none;
    //  }
    // }
    // .title-opacity-second {
    //     @media(max-width: 806px) {
    //         display: none;
    //     }
    // }
    h2{
        font-size: 110px;
        font-weight: bold;
        opacity: 52%;
        color: #F5F5F8;
        text-transform: uppercase;
    }
}

.box-title-main{
    background-color: #F5F5F8;
    max-width: 100%;
    height: auto;
    .box-title-main-small-img {
        img {
            display: none;
            @include breakpoint(large) {
                display: block;
            }
        }
        background-image: url("../assets/img/AdobeStock_345574185_Preview.svg");
        height: 250px;
        @include breakpoint(medium) {
            height: auto;
            
        }
        @include breakpoint(large) {
         background-image: none;
        }
    }
    .box-title-main-small-text {
        padding-bottom: 1rem;
    }
    h2{
        font-size: 30px;
        padding-bottom: 1rem;
        @include breakpoint(large) {
            font-size: 35px;
            padding-bottom: 4rem;
        }
        line-height: 50px;
        padding-right: 4rem;
        padding-top: 4rem;
    
    }
    p{
        font-size: 14px;
        line-height: 21px;
        opacity: 71%;
    }
    .button-box {
        padding-top: 1rem;
        @include breakpoint(large) {
            padding-top: 4rem;

        }
    }
    a{
        padding-top: 4rem;
        background-color: #26679F;
        padding: 10px 20px;
        color: #fff;
        font-size: 11px;
        font-weight: bold;
        line-height: 23px;
        box-shadow: 0px 2px 3px 0px rgba(38,103,159,1);
      }
      img{
          position: relative;
          top:-100px
      }
}
.galeria{
    h2{
        font-size: 30px;
        margin-bottom: 1rem;
        @include breakpoint(medium) {
            font-size: 35px;
            margin-bottom: 4rem;
        }
        line-height: 50px;
        padding-right: 4rem;
   

    }
    p{
        font-size: 14px;
        line-height: 21px;
        opacity: 71%;
    }
    a{
        padding-top: 4rem;
        background-color: #26679F;
        padding: 10px 20px;
        color: #fff;
        font-size: 11px;
        font-weight: bold;
        line-height: 23px;
        box-shadow: 0px 2px 3px 0px rgba(38,103,159,1);
      }
  

}

.button-down{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    
}
.email{
    font-size: 25px;
    @include breakpoint(large) {
        font-size: 35px;

    }
line-height: 85px;
opacity: 90%;
padding-bottom: 1rem;
}

a:hover{
    opacity: 80%;
    transition: ease 1s;
}


@media (max-width:1113px){
    .img-galeria{
      
        img{
            width: 65%;
}
    }
}
@media (max-width:880px){
    .img-galeria{
      
        img{
            width: 80%;
}
    }
}
@media (max-width:690px){
    .img-galeria{
      
        img{
            width: 100%;
}
    }
}



@media (max-width:1023px){
    .active-link a::before{
        display: none;
    }
    .galeria .img-galeria img {
            width: 65%;
        }
     
    

}

@media (max-width:880px){
    .galeria .img-galeria img {
        width: 80%;
    }
}
@media (max-width:790px){
    .galeria .img-galeria img {
        width: 100%;
    }
}
@media (max-width:639px){
    .flex-box{
        img{
        max-width: 100%;
    }
    .flex-box, .one-photo, .two-photo, .three-photo{
        max-width: 100%;
        padding:0;
        margin: 20px 0;
    }
}
.title-box {
    padding: 0;
}
.main-box-bottom {
    position: relative;
}
}

.strange-images {
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    @include breakpoint(medium) {
        height: 200px;
    }
    @include breakpoint(large) {
        height: 341px;
    }
}

.galeria {
    .text-box {
        @include breakpoint(medium) {
            padding-right: 20px;
        }
        @include breakpoint(large) {
            padding-right: 100px;
        }
    }
}