@import '../general/typography';
@import '../modules/foundation-settings';

///////////////////ważne dla safari, tak samo przy selekcie!!!
.footer-form input[type=checkbox] {
    -webkit-appearance: none;
}

.kontakt-wrap {
    position: relative;
    min-height: 100vh;
}

.footer-form {
    @include breakpoint(medium) {
        padding-top: 50px;
    }
    @include breakpoint(large) {
        padding-top: 100px;
    }
    max-width: 340px;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    background: transparent;
    .big-title {
        color: #000000;
        font-weight: 300;
        margin-bottom: 42px;
        font-size: 30px;
        @include breakpoint(large) {
            font-size: 35px;
            margin-bottom: 60px;
        }
    }

    .form-button {
        background-color: #E95A00 !important;
        color: #fff !important;
        border-radius: 20px;
        margin-top: 1rem;
        font-size: 13px;
        &:hover {
            opacity: 0.7;
        }
    }

  
    
    .wpcf7 [type=text], .wpcf7 [type=tel], .wpcf7 [type=email], .wpcf7 textarea, .wpcf7-select {
        background-color: transparent;
    // padding: .5rem;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.26);
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: none;
    color: rgba(112, 112, 112, 0.83);
    padding-bottom: 0;
    &::placeholder {
        color: rgba(112, 112, 112, 0.83);
        font-size: 12px;
    }
    }
    .wpcf7 textarea {
        margin-bottom: 0;
    }
    .wpcf7-select {
        background-image: url("../assets/img/Group 735.svg");
        // background-position: bottom;
        &:hover {
            cursor: pointer;
        }
        color: rgba(112, 112, 112, 0.34) !important;
    
        option {
            transition: .3s ease-in-out;
            color: rgba(112, 112, 112, 0.34);
            padding-top: 0;
            background: #F4F4F4;
         
        }
    }

    input[type=checkbox] {
        height: 5px;
        width: 5px;
        position: absolute;
        border-radius: 100%;
        left: 0;
        top: 2.5px;
        z-index: 5;
        cursor: pointer;
    }
    input[type=checkbox]:before {
        content: "";
        display: block;
        position: absolute;
        width: 9px;
        height: 9px;
        top: 0;
        left: 0;
        border: 0.5px solid rgba(112, 112, 112, 0.64);
        background-color:transparent;

    }
    input[type=checkbox]:checked:after {
        content: "";
        display: block;
        width: 4px;
        height: 7px;
        border: 0.5px solid rgba(112, 112, 112, 0.73);
        border-width: 0 1px 1px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        position: absolute;
        /* top: 1px; */
        bottom: -1px;
        left: 3px;
    }
    
    // .footer-form .wpcf7 .wpcf7-acceptance .wpcf7-list-item-label {
    //     color: #fff !important;
    // }
    
    span .wpcf7-list-item {
        padding-left: 20px;
        position: relative;
        display: inline-block;
        margin-bottom: 5px;
        &:hover {
            label {
                opacity: 0.7;
            }
        }
    }
    
    span .wpcf7-list-item label{
        transition: .3s ease-in-out;
        line-height: 1.4;
        // padding-bottom: 1em;
        font-size: 10px;
        // @media(min-width: 980px){
        //     font-size: 10px; 
        // }
        &:hover {
            cursor: pointer;
        }
        color: rgba(112, 112, 112, 0.64);
    }

    input:disabled {
        background-color: transparent;
        border: none;
        margin-top: 30px;
        text-transform: uppercase;
        transition: .3s ease-in-out;
        color: rgba(8,73,129,0.7);
        font-size: 11px;
        font-weight: 600;
        &:hover {
            opacity: 0.7;
        }
    
        // span {
            
        // }
    
  
    }

    // .button-box {
    //     margin-top: 28.5px;
    //     display: flex;
    //     justify-content: flex-end;
    //     button {
    //         display: flex;
    //         align-items: center;
    //         transition: .3s ease-in-out;
    //         &:hover {
    //             opacity: 0.7;
    //         }
    //         &::after {
    //             // content: url("../../assets/img/Group\ 38.svg");
    //             content: "";
    //             width: 28px;
    //             height: 6px;
    //             background-image: url("../assets/img/Group\ 38.svg");
    //             background-size: cover;
    //             background-position: right;
    //             background-repeat: no-repeat;
    //         } 
    //     }
    // }
 }

.background-kontakt{
    // background-color: rgba(255, 255, 255, 0.9);
    background-image:  url('../assets/img/white-wooden-cupboards-2724749.jpg');
    // background-image:  url('../assets/img/Group\ 18.jpg');
position: absolute;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    opacity: 0.1;
//  position: relative;
 width: 100vw;
 min-height: 100vh;
 height: 100%;
 filter:grayscale(100%);
//  background-blend-mode: screen;
//  position: relative;
        
    // img{
    //     z-index: -99999;
    //     position: absolute;
    //     width: 100vw;
    //     height: 100%;
    //     opacity: 10%;
    //     overflow: hidden;
      
        
    // }
}
// .white {
//     position: absolute;
//     background-color: rgba(255, 255, 255, 0.9);
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
// }



.form-box {
    position: relative;
}
.konatkt-left {
    z-index: 1;
    opacity: 0.8;
}

.small-box-kontakt{
    width: 35%;
    position: absolute;
    background-color: rgb(38, 103, 159);
    // rgba(8,73,129,0.7);
    @include breakpoint(medium) {
        padding: 1rem 2rem 4rem;
    }
    @media(min-width: 1330px) {
        padding: 1rem 4rem 4rem;
    }
    top:0;
   left: 8rem;

 
   z-index: -1;
//    opacity: 0.8;

  color: #fff;
  p::first-letter{
    text-transform: uppercase;
    
}


   
   p, a{
       color: #fff;
       position: relative;
       font-size: 14px;
       line-height: 21px;
      
   }
   a:hover {
       opacity: 0.7;
   }
   .email-form {
    position: relative;
    a {
        text-transform: lowercase !important;
        font-size: 20px !important;
        @include breakpoint(large) {
            font-size: 25px !important;
    
        }

    }
    padding-top: 22rem;

    line-height: 85px;
}
img{
    position: relative;
    padding-right: 17px;
   color: #fff;
}
hr{
    margin: 0 ;
  
}
   
}
.small-box-kontakt-2 {
    z-index: 10;
    background: transparent;
}

// .form{
//     padding: 0 3rem;
//     h2{
//         font-size: 35px;
//         line-height: 50px;
//         padding-bottom: 30px;
//         width: 50%;
//         padding-top: 5rem;
//     }
//     input{
//         border: none;
//         border-bottom: 1px solid rgba(0, 0, 0, 0.18)
//     }
//     [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea{
//         background: none;
//         // opacity: 0;
//         &::placeholder {
//             color: rgba(54, 54, 54, 0.64);
//         }
//     }
//     .massage-form{
//         padding-top: 3rem;
//         padding-bottom: 1rem;;
//     }
 
// }
// .button-form-box{
//     text-align: right;
//     font-size: 11px;
//     line-height: 23px;
//     color: #26679F;
//     margin-top: -50px;
//     button {
//         color: #26679F;
//         font-size: medium;
//         padding-top: 2rem;
//     }
// }
// .checbox-text{
//     position: relative;
   
//         width: 100%;
//         color: #8D8D8D;
//         opacity: 87%;
//         font-size: 10px;
//         line-height: 14px;
//         padding:2rem 1rem 0 2rem;
  
// }
// .checbox-form{
//     position: relative;
//     left:14px;
//     top:-49px;
//     color: #8D8D8D;
//     opacity: 87%;
   
// }
.kontakt-social-media{
    padding-top: 3rem;
   
        
    
}
.rodo-box{
    padding: 0;
    margin: -15px;
}
@media (max-width:1300px){
    .small-box-kontakt{
        width: 32%;
    }
}
@media (max-width:1000px){
    .small-box-kontakt{
        width: 39%;
        left:0;
    }
}
@media (max-width:840px){
    .small-box-kontakt{
        width: 45%;
        left:0;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
@media (max-width:639px){
    .small-box-kontakt{
        width: 100%;
        left:0;
        padding-right: 1rem;
        padding-left: 1rem;
        position: relative;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: none;
     
    }
    .small-box-kontakt-2 {
        display: block;
        background-color: rgba(38, 103, 159, 0.836);

    }

    .form{
        padding: 0 ;
    }
    .order1{
        order: 1;
    }
    .order2{
        order: 2;
    }
    .small-box-kontakt .email-form{
        padding-top: 1rem;
    }
}

@mixin form-element {
    $height: ($input-font-size * unitless-calc($input-line-height)) + (get-side($input-padding, 'top') + get-side($input-padding, 'bottom')) - rem-calc(1);
  
    opacity: 34%;
    margin: 1rem 0 0 0;
    font-size: 12px;
    line-height: 24px;
  
}
[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
    color: #8D8D8D;
    opacity: 87%;
    background-color: transparent;
}

.kontakt-rodo {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    @include breakpoint(medium) {
        margin-top: 8rem;
    }
    @include breakpoint(large) {
        margin-top: 3rem;
    }

    p {
        &:first-child {
            margin-right: 20px;
        }
    }
}