@import '../general/typography';
@import '../modules/foundation-settings';

.description-background {
    background-color: #F5F5F8;
    max-width: 100%;
  padding-top: 4rem;
margin-top: 4rem;
}

.onas-background {
    background-color: #F5F5F8;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    .onas-title{
        padding-bottom: 4.5rem;
    }

    img {
        width: 50px;
        height: auto;
    }

    h5 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        opacity: 71%;
        padding-top: 1rem;
    }

    p {
        font-size: 14px;
        line-height: 21px;
        opacity: 71%;
        padding: 1rem;

    }

    
}
.onas-description {
    @include breakpoint(large) {
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 50px;

    }
  
        h2 {
            font-size: 30px;
            @include breakpoint(large) {
                font-size: 35px;

            }
            line-height: 1.4;
            
            // padding-left: 2rem;
  
            margin-top: -10px;
            margin-bottom: 1rem;
            @include breakpoint(medium) {
                padding-top: 2rem;
                margin-bottom: 2rem;
            }
            @include breakpoint(medium) {
                margin-bottom: 3rem;
            }
      
            
        }
   
    p {
        font-size: 14px;
        line-height: 21px;
        opacity: 71%;

        // padding: 1rem 2rem;
    }


}
.onas-button-blue{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:1rem;
    @include breakpoint(large) {
        padding-top:2rem;
    }
   
   
    a{
        color: #fff;
        font-size: 13px;
        line-height: 16px;
        background-color: #26679F;
        padding: 1.5rem 1.75rem;
        box-shadow: 0px 2px 3px 0px rgba(38,103,159,1);
    }
}
.onas-footer{
    margin-top: 4rem;
}


@media (max-width:639px){
    .onas-description {
  
        h2{
            margin-top: 0;
            padding: 1rem 0;

        }
  
    }
    .description-photo-phone{
        img{
            width: 100%;
        }
    }
    
}