@import '../general/typography';
@import '../modules/foundation-settings';

.description {
    padding-top: 4rem;
}

.produkt-description {
    h2 {
        font-size: 30px;
        margin-bottom: 1rem;
        @include breakpoint(large) {
            font-size: 35px;
            margin-bottom: 30px;
        }
        line-height: 50px;
  

    }

    .button-produkt {
        display: flex;
        flex-wrap: wrap;
        align-items: center;



        a {
            margin-right: 10px;
            @include breakpoint(large) {
                margin-right: 20px;

            }
            font-size: 11px;
            line-height: 23px;
            padding: 0.5rem 1.2rem;
            color: #8D8D8D;
            border: 1px solid #8D8D8D;
            margin-top: 15px;
        }
        .active-link-description {
            background-color: #26679F;
            color: #fff;
            border: 1px solid #26679F;
            box-shadow: 0px 2px 3px 0px rgba(38,103,159,1);
    
        }
    
    }
    .active-link-description {
        background-color: #26679F;
        color: #fff;
        border: 1px solid #26679F;
        box-shadow: 0px 2px 3px 0px rgba(38,103,159,1);

    }
.button-produkt-single {
    &:hover {
        opacity: 1;
        background-color: #26679F;
        color: #fff;
        border: 1px solid #26679F;
        box-shadow: 0px 2px 3px 0px rgba(38,103,159,1);
    }
}
    h4 {
        font-size: 16px;
        line-height: 70px;
        padding-top: 30px;
    }

    p {
        width: 77%;
        font-size: 14px;
        line-height: 21px;
        opacity: 80%;
        color: #000;
    }
}
    @media (max-width:690px) {

        .produkt-description p {
            width: 100%;
        }
        .produkt-photo{
           display: flex;
           justify-content: center;
            img{
              width: 100%;
            }
        }
        .produkt-description .button-produkt{
            width: 100%;
          
        }
    }

    @keyframes example {
        from {
            display: none;
            opacity: 0;
        }
    
        to {
            display: block;
            opacity: 1;
        }
    }

    .produkt-text {
        display: none;
        animation-name: example;
        animation-duration: .3s;
        animation-timing-function: ease-in-out;
        // opacity: 0;
 
    }

    .produkt-text-1 {
        display: block;
        opacity: 1;
    }