* {
	outline: none;
	background-size: cover;
	background-repeat: no-repeat;
}

body {
	
}

@include breakpoint(medium up){
	.alignright {float:right; margin:0 0 1em 1em}
	.alignleft {float:left; margin:0 1em 1em 0}
}
.aligncenter {display: block; margin-left: auto; margin-right: auto}


a {
	transition: all .3s ease-in-out;
}

.clearfix {
	&:before,
	&:after {
    display: table;
    content: ' '
	}
	&:after {
		clear: both;
	}
}

.material-icons {
	font-size: 1.5em;
}

#site-wrap {
	overflow: hidden;
	.fixed-nav & {
		padding-top: 80px;
	}
}

.section {
    margin-bottom: 3rem;
    @media screen and (min-width: 640px) {
        margin-bottom: 5rem;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 98px;
    }
}

.grid-container-left {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    @media print, screen and (min-width: 1130px){
        padding-left: 0.9375rem;
        padding-right: 0;
    }
}
.grid-container-right {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    @media print, screen and (min-width: 1130px){
        padding-right: 0.9375rem;
        padding-left: 0;
    }
}

@media(min-width: 1130px) {
    .stretch-right {
        padding-right: calc( ( 100vw - 1130px) / 2 + 0.9375rem );
        }
    .stretch-left {
        padding-left: calc( ( 100vw - 1130px) / 2 + 0.9375rem );
    }

}

.small-2rem {
    margin-bottom: 2rem;
    @include breakpoint(medium) {
        margin-bottom: 0;
    }
}
.medium-2rem {
    margin-bottom: 2rem;
    @include breakpoint(large) {
        margin-bottom: 0;
    }
}


.small-250 {
    @media(max-width: 639px) {
        height: 250px !important;
    }
}

.medium-250 {
    @media(max-width: 1023px) {
        height: 250px;
    }
}